<div class="favorito-box">
        <h1>{{titleSection}}</h1>
            
        <form #formFavorito="ngForm" (ngSubmit)="onSubmit()" >
            <label>Titulo: </label>
            <p>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="favorito.title" required>
                <span *ngIf="title.touched && !title.valid">el título no es correcto...</span> 
            
            </p>
            <label>Descripción: </label>
            <p>
                <input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="favorito.descripcion" required>
                <span *ngIf="descripcion.touched && !descripcion.valid">el descripcion no es correcto...</span>             
            </p>
            <label>URL: </label>
            <p>
                <input type="text" name="url" #url="ngModel" [(ngModel)]="favorito.url" required>
                <span *ngIf="url.touched && !url.valid">el URL no es correcto...</span>             
            </p>
            <input type="submit" value="{{titleSection}}" >
        </form>
</div>